h1 {
	color: #191970;
	margin: auto;
	text-align: center;
	padding: 40px;
}

h3 {
	color: #191970;
	font-family: Poppins;
	text-align: center;
	margin-bottom: 40px;
}

p {
	text-align: center;
}

body {
 background-image: url("ghw_share.png");
}

.container {
	margin-top: 40px;
	justify-content: space-between;
	background: #87CEEB;
}